@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
footer{
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end ;
}
.footerText {
    font-size: 14px;
    font-family: 'Rouge Script', cursive;
    color: white;
    text-align: center;
    
    
 }
 .socialMediaLogoBox{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     width: 80px;
     margin-right: 3vw;
 }
 .logoFooter {
     width: 30px;
     height: 30px;
 }
 
 @media(min-width: 451px){
    .socialMediaLogoBox{
        justify-content: flex-end;
        width: 110px;
        margin-right: 5vw;
     }
     .footerText{
        font-size: 24px;
         color: white;
    }
     .logoFooter{
         width: 45px;
         height: 45px;
         margin: 10px;
     }
 
 }